html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;  /* Removes scroll bars in transition. */
  margin: 0;
  padding: 0;
}

.page, .page-container {
  height: 100%;
  width: 100%;
  display: none;
  overflow: hidden;
  /* Removes horizontal scroll bar */
  -moz-animation-duration: 0.5s !important;
  -webkit-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
}

.page.active {
  /* Removes vertical scroll bar when it's needless, adds it back when the content is long. */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.page-container.active,
.page-container.animated,
.page.active,
.page.animated {
  display: block;
}

.page {
  /* DO NOT make .page position: absolute, otherwise the page scrolling will feel bad in iOS. */
}

.page-container.animated, .page.animated {
  position: absolute;
  /* Makes the two page/page-container in transition both align to the top. */
  top: 0;
}
